[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyparsing = "*"
pydispatcher = "*"
"dnspython3" = "*"

[dev-packages]
asynctest = "*"
mypy = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.7"
